.header {
    grid-area: header;
    /*background-color: lightgrey;*/
    height: calc(0.20 * var(--height-chosen));
    margin-bottom: 1%;
    grid-template-areas: "name"
                         "title"
                         "personal_details"
                         "introduction";
}

.name {
    grid-area: name;
    height: 20%;
    font-size: var(--font-size-xl);
    text-align: center;
    font-weight: lighter;
    letter-spacing: 0.15ch;
    padding-top: 2%;
}

.title {
    grid-area: title;
    height: 7.5%;
    font-size: var(--font-size-s);
    text-align: center;
    font-weight: lighter;
    letter-spacing: 0.5ch;
}

.personal-details {
    grid-area: personal_details;
    grid-template-columns: 0.5fr 1fr 1fr 0.75fr 0.75fr 0.75fr 0.75fr;
    display: grid;
    height: 10%;
    width: 100%;
    grid-template-areas: "element_0 element_1 element_2 element_3 element_4 element_5 element_6";
    margin-top: 1%;
}

.element-0 {
    grid-area: element_0;
}

.element-1 {
    grid-area: element_1;
}

.element-2 {
    grid-area: element_2;
}

.element-3 {
    grid-area: element_3;
}

.element-4 {
    grid-area: element_4;
}

.element-5 {
    grid-area: element_5;
}

.element-6 {
    grid-area: element_6;
}

.element-0, .element-1, .element-2, .element-3, .element-4, .element-5, .element-6{
    display: flex;
    height: 100%;
    min-width: max-content;
    align-items: center;
    justify-content: center;
    color: var(--primary-icon-color);
    font-size: var(--font-size-xs);
    font-weight: lighter;
}

.icon-text {
    grid-area: icon_text;
    padding-left: calc(0.0025 * var(--width-chosen));
    color: var(--primary-font-color);
    font-size: var(--font-size-xxxs);
    letter-spacing: 0.2ch;
}

.link {
    color: var(--primary-link-color);
    text-decoration: none;
}

.about-me {
    grid-area: introduction;
    padding: calc(0.0125 * var(--width-chosen)) calc(0.0275 * var(--width-chosen));
    font-size: var(--font-size-xs);
    letter-spacing: 0.25ch;
    text-align: center;
    line-height: 150%;
    background-color: var(--about-me-background-color);
    font-weight: lighter;
    border-radius: 20px;
}